p{ margin: 0 0 2px;}
body {
  background: url("../images/logon/fondo2.jpg") no-repeat center center fixed;
  height: 100%;
  background-size: 100% 100%;
}
#login-box {
  background: rgba(255, 255, 255, 0.66);
  overflow: hidden;
  width: 400px;
  padding: 25px;
  text-align: justify;
  margin: 30px auto 0 auto;
  float: right;
  border: 2px solid rgba(255, 255, 255, 0.68);    
  border-radius: 6px;
}
@media screen and (max-width: 740px) {
  #login-box {
    background: #fff;
    float: none;
  }
}
@media screen and (max-width: 500px) {
  #login-box {
    width: 100%;
  }
}
#login-box input[type=text],
#login-box input[type=password] {
  background: #fff;
  border: none;
  padding: 5px 5px 5px 50px;
  width: 100%;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 10px;
}
@media screen and (max-width: 740px) {
  #login-box input[type=text],
  #login-box input[type=password] {
    background-color: #eee;
  }
}
#login-box .inputarea{
  margin-bottom: 5px;
  margin-top: 24px;    
}
#login-box .inputarea .inputUser {
  background-image: url("../images/logon/icon-user.png");  
}
#login-box .inputarea .inputPassword {
  background-image: url("../images/logon/icon-lock.png");
}
#login-box .btn-entrar {
  background-color: #119548;
  transition: background-color 0.5s ease-in;
  color: #fff;
  border: none;
  padding: 15px 30px;
  float: right;
}
#login-box .btn-entrar:hover {
  background-color: #15b457;
}
.field-validation-error {
  color: #f00;
}