@font-face {
  font-family: 'RobotoRegular';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto/roboto_regular_macroman/Roboto-Regular-webfont.woff");
}
@font-face {
  font-family: 'RobotoBold';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto/roboto_bold_macroman/Roboto-Bold-webfont.woff");
}
body {
  background: url("../Images/logOn/fondo2.jpg") no-repeat center center fixed;
  height: 100%;
  background-size: 100% auto;
}
@media screen and (max-width: 740px) {
  body {
    background: #fff;
  }
}
header {
  min-height: 100px;
  background-color: #f5f5f5;
}
header .logo {
  margin: 26px 10px 26px 20px;
  float: left;
}
header .textos {
  width: 280px;
  float: left;
  margin: 39px 0 0 5px;
  font-size: 15px;
  color: #7e7e7e;
}
header .textos span {
  font-family: 'RobotoRegular';
}
header .textos span.negritas {
  font-family: "RobotoBold";
}
footer {
  height: 100px;
  background-color: #119548;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
footer .logo {
  margin: 26px 10px 26px 20px;
  float: left;
}
footer .textos {
  width: 280px;
  float: left;
  margin: 35px 0 0 0;
  font-size: 12px;
  color: #fff;
}
footer .textos span {
  font-family: 'RobotoRegular';
}
footer .textos span.negritas {
  font-family: "RobotoBold";
}
.adorno1 {
  width: 30%;
  float: left;
  height: 10px;
  background-color: #b5b5b5;
}
.adorno2 {
  width: 70%;
  float: left;
  height: 10px;
  background-color: #119548;
}