body {
  /*background: #fdfdfd;*/
  background: url("../images/layout/fondo2.jpg") no-repeat center center fixed;
  height: 100%;
  background-size: 100% 100%;
}
@media screen and (max-width: 740px) {
  body {
    background: #fdfdfd;
  }
}
header {
  min-height: 100px;
  background-color: #DFDFDF;
}
header .logo {
  margin: 26px 10px 26px 20px;
  float: left;
}
header .textos {
  width: 280px;
  float: left;
  margin: 39px 0 0 5px;
  font-size: 15px;
  color: #7e7e7e;
}
@media screen and (max-width: 991px) {
  header .textos {    
    display: none;
  }
}

footer {
  height: 100px;
  background-color: #119548;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
footer .logo {
  margin: 26px 10px 26px 20px;
  float: left;
}
footer .textos {
  width: 280px;
  float: left;
  margin: 35px 0 0 0;
  font-size: 12px;
  color: #fff;
}
.adorno1 {
  width: 30%;
  float: left;
  height: 10px;
  background-color: #b5b5b5;
}
.adorno2 {
  width: 70%;
  float: left;
  height: 10px;
  background-color: #119548;
}
.error{
        color: rgb(170, 43, 43);
        text-align: right;
        margin: 0 !Important;
        padding: 1px 0 !Important;
    }
.error span {
    color: rgb(170, 43, 43) !Important;
    font-size: 15px !Important;
    padding-left: 3px;
}
#loaderdiv{
    background: transparent url("../images/layout/loader.gif") no-repeat;
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 19px;
    right: 5%;
    z-index: 99999;
    display: none;
}
footer .optimized {
    position: absolute;
    right: 10px;
    bottom: 1px;    
}